/*-----------------------
Global Variables
------------------------*/

html {
  scroll-behavior: smooth;
}

:root {
  --brand-blue-color: #218ece;
  --brand-gray-color: #9c9b9b;
  --main-bgGray-color: #f4f4f4;
  --brand-montserrat-fontFamily: montserrat,sans-serif;
}

/*-----------------------
Global CSS Elements
------------------------*/

div.zoom {
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  overflow: hidden;
  cursor: zoom-in;
}
div.zoom img:hover {
  opacity: 0;
}
div.zoom img {
  transition: opacity .5s;
  display: block;
  width: 100%;
}



#navImgs {
  display: none;
  background-color: var(--main-bgGray-color);
  padding: 10px 0px;
}

#navImgs #closeImgsLinks {
  text-align: right;
  padding-right: 20%;
}

#navImgs #closeImgsLinks i {transition: .3s;}

#navImgs #closeImgsLinks i:hover {
  cursor: pointer;
  opacity: .5;
}

#navImgs #closeImgsLinks i {font-size: 24px;}

#navImgs #navImgsContainer {
  width: 400px;
  display: flex;
  margin: 0px auto;
}

#navImgsContainer .navImageBox {
  width: 200px;
  text-align: center;
  transition: .3s;
}

#navImgsContainer .navImageBox:hover {opacity: .8;}

#navImgsContainer .navImageBox h5 {color: var(--brand-blue-color);}

#navImgs img {
  width: 75%;
}

#banner {
  background-color: var(--brand-blue-color);
  padding-top: 15px;
  padding-bottom: 1px;
  text-align: center;
}

#banner a {
  color: #fff;
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 300;
}

span.blueHighlight {color: var(--brand-blue-color);}

#ATF h1, #benefits h1, #productsHome h1, #membersSubscriberForm h1, #igFeed h1, #productDisplay h1, #contactUs h1, #aboutMembersSubscriberForm h1, #aboutCTA h1, #shippingPolicy h1, #refundPolicy h1, #tos h1, #privacyPolicy h1 {
  color: var(--brand-gray-color);
  text-align: center;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}

a:hover {text-decoration: none;}

button.primaryButton {
  background-color: var(--brand-blue-color);
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  font-family: var(--brand-montserrat-fontFamily);
  border: none;
  border-radius: 3px;
  padding: 16px 35px;
  transition: .3s;
  width: 80%;
}

button.primaryButton:hover {
  opacity: .8;
}

button.secondaryButton {
  background-color: var(--brand-gray-color);
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  font-family: var(--brand-montserrat-fontFamily);
  border: none;
  border-radius: 3px;
  padding: 16px 35px;
  transition: .3s;
  width: 80%;
}

button.secondaryButton:hover {
  opacity: .8;
}

/*-----------------------
Navigation CSS
------------------------*/

nav.navbar a.navbar-brand img {width: 90%;}

nav button.navbar-toggler {
  border: none;
  position: relative;
  right: 0px;
}

nav span.icon-bar {
  background: var(--brand-blue-color);
  padding-top: 2px;
}

.icon-bar {
	width: 22px;
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
 transform: rotate(45deg);
 transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
 opacity: 0;
}

.navbar-toggler .bottom-bar {
 transform: rotate(-45deg);
 transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
 transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
 opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
 transform: rotate(0);
}

nav li.nav-item {
  text-align: center;
  padding: 10px 0px;
}

nav ul.navbar-nav li.nav-item a.nav-link {
  color: var(--brand-gray-color);
  font-family:var(--brand-montserrat-fontFamily);
  font-weight: 800;
  font-style: normal;
  transition: .3s;
}

nav ul.navbar-nav li.nav-item a.nav-link:hover {
  color: var(--brand-blue-color);
}

nav ul.navbar-nav li.nav-item a.nav-link.active {
  color: var(--brand-blue-color);
  background-image: url(../imgs/x-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}

/*-----------------------
HOME - ATF CSS
------------------------*/

#demo {height: 600px;}

#demo .carousel-inner {height: 600px;}

#demo img {width: 100%;}

#demo .carousel-caption {
  position: absolute;
  bottom: -510px;
  border-radius: 3px;
}

#demo .carousel-caption h1 {
  color: var(--brand-gray-color);
}

#demo .carousel-caption button.primaryButton {
  margin-bottom: 10px;
}

#demo .carousel-caption h1 {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
}

#demo .carousel-caption h3 {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 600;
  color: var(--brand-gray-color);
  font-size: 24px;
}

#demo span.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23218ece' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30px;
    height: 40px;
    background-color: rgba(255,255,255,.8);
    border-radius: 3px;
}

#demo span.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23218ece' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30px;
    height: 40px;
    background-color: rgba(255,255,255,.8);
    border-radius: 3px;
}

#ATF img {width: 100%;}

#ATF .col-md-12 {
  padding-left: 0px;
  padding-right: 0px;
}

#buttons {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 6em;
}

#atfContainer button.primaryButton {
  margin-bottom: 1em;
}

/*-----------------------
HOME - Benefits CSS
------------------------*/

#benefits {
  background-color: var(--main-bgGray-color);
  padding-bottom: 6em;
  padding-top: 4em;
}

.benefitContainer {
  text-align: center;
  padding: 30px 0px;
}

.benefitContainer h3 {
  color: var(--brand-blue-color);
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 600;
}

.benefitContainer button.secondaryButton {
  width: 80%;
  margin-top: 10px;
  margin-left: 0px;
}

#benefits .col-md-12 .primaryButton {
  display: block;
  margin: auto;
  margin-top: 25px;
}

.benefitContainer .benefitBox img {
  width: 70%;
}

.benefitContainer .benefitBox .overlay {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  background-color: var(--brand-blue-color);
  width: 100%;
  height: 0%;
  transition: .5s ease-in;
  overflow-x: hidden;
}

.benefitContainer .benefitBox .overlay li {padding-bottom: 15px;}

.overlay .overlayContent {
  width: 80%;
  color: #fff;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

.overlay .overlayContent span.closeOverlay, #painReliefDisplay span.closeOverlay {
  display: block;
  margin: 0px auto;
  margin-top: 10px;
  font-size: 20px;
  box-shadow: 0px 5px 3px #155d88;
  text-align: center;
  background-color: #fff;
  padding: 10px 10px;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  color: var(--brand-blue-color);
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 800;
}

.overlay .overlayContent span.closeOverlay:hover {cursor: pointer;}

.overlayContent #painLink span {
  border-bottom: .5px solid #fff;
  padding-bottom: 2px;
}

.overlayContent #painLink:hover {
  cursor: pointer;
}

.overlay #painReliefDisplay {
  display: none;
  height: 100%;
}

#painReliefCarousel {height: 100%; position: relative;}

#painReliefCarousel .carousel-inner {
  height: 100%;
  padding-top: 25px;
}

#painReliefCarousel img {
  width: 35%;
  box-shadow: 0px 5px 7px #155d88;
}

#painReliefCarousel .carousel-caption {bottom: -115px;}

#painReliefCarousel h3 {color: #fff;}

#painReliefDisplay span.closeOverlay {
  position: relative;
  bottom: -75%;
  /* left: 50%;
  transform: translateX(-50%); */
}

/*-----------------------
HOME - Product Carousel CSS
------------------------*/

#productsHome {
  padding-bottom: 3em;
  padding-top: 3em;
}

#productsHome h1 {
  padding-top: 2.5em;
  padding-bottom: 40px;
}

#productsHome .carousel-caption h3 {
  color: var(--brand-blue-color);
}

#productsHome .carousel-caption p {
  color: #000;
}

#productsHome #productsHomeCarousel .carousel-indicators {display: none;}

#productsHome #productsHomeCarousel span.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23218ece' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")
}

#productsHome span.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23218ece' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")
}

#productsHome #productsHomeCarousel a.carousel-control-next, #productsHome #productsHomeCarousel a.carousel-control-prev {
  opacity: .7;
  z-index: 3;
}

#productsHome #productsHomeCarousel a.carousel-control-next:hover, #productsHome #productsHomeCarousel a.carousel-control-prev:hover {
  opacity: 1;
}

#productsHomeCarousel .carousel-inner {
  height: 600px;
}

#productsHomeCarousel .carousel-inner .carousel-caption {
  bottom: -220px;
  z-index: 2;
}

#productsHomeCarousel .carousel-inner .carousel-caption h3 {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 600;
}

#productsHomeCarousel .carousel-inner .carousel-caption p {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 300;
}

#productsHomeCarousel .carousel-inner img {
    width: 100%;
    display: block;
    margin: auto;
  }

#productsHomeCarousel button.primaryButton {
  width: 80%;
  margin-top: 10px;
  margin-left: 0px;
}

/* #buttonContainer {
  padding-bottom: 3em;
}

#buttonContainer .col-xs-6 {width: 50%;}

#buttonContainer .secondaryButton {
  width: 80%;
  display: block;
  margin: auto;
  font-size: 20px;
  padding: 16px 15px;
} */

/*-----------------------
HOME - Seals CSS
------------------------*/

#sealsHome img {
  width: 100%;
  position: relative;
}

#sealsHome .col-md-12 {padding: 0px;}

#sealsHome .seals img {
  width: 70%;
  display: block;
  margin: auto;
  transition: .3s ease-out;
}

#sealsHome .seals {width: 50%;}

#sealsHome .seals img:hover {
  transform: scale(1.1);
}

#sealsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/*-----------------------
HOME - Subscriber Form CSS
------------------------*/

#membersSubscriberForm {
  background-color: var(--main-bgGray-color);
  padding-top: 5em;
  padding-bottom: 6em;
}

#membersSubscriberForm p {
  font-family: var(--brand-montserrat-fontFamily);
  text-align: center;
  padding-top: 15px;
}

#membersSubscriberForm .primaryButton {
  width: 80%;
  display: block;
  margin: 0px auto;
}

#membersSubscriberForm .form-control {
  width: 80%;
  display: block;
  margin: 0px auto;
}

/*-----------------------
HOME - IG Feed CSS
------------------------*/

#igFeed {
  padding-top: 4.5em;
  padding-bottom: 6em;
}

#igFeed h1 {padding-bottom: 16px;}

#igFeed img {
  width: 100%;
  margin-bottom: 25px;
  transition: .3s ease-out;
}

#igFeed img:hover {
  opacity: .8;
  box-shadow: 0px 5px 7px grey;
  transform: scale(1.05);
}

#igFeed a {width: 100%;}

#igFeed button.primaryButton {
  display: block;
  margin: 20px auto;
  width: 80%;
}

/*-----------------------
HOME - Footer CSS
------------------------*/

#footer {
  background-color: var(--main-bgGray-color);
  padding: 6em 0px;
  padding-bottom: 0px;
  text-align: center;
}

#footer #footerLinks li {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 300;
}

#footer h3 {
    color: var(--brand-gray-color);
    padding-bottom: 5px;
    font-family: var(--brand-montserrat-fontFamily);
    font-style: normal;
    font-weight: 600;
}

#footer ul {
  padding-left: 0px;
  padding-bottom: 1em;
}

#footer ul#socialMediaList {
  display: flex;
  width: 70%;
  margin: 0px auto;
  padding-bottom: 0px;
}

#footer ul#socialMediaList img {
  width: 90%;
  transition: .3s;
}

#footer ul#socialMediaList img:hover {
  opacity: .8;
}

#footer ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

#footer a {
  color: #000;
  transition: .3s;
}

#footer a:hover {
  color: var(--brand-blue-color);
}

#footer img {
  width: 70%;
  padding-bottom: 10px;
}

#footer #copyright p {
  color: #adabab;
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 300;
}

#footer #footerIcons {
  padding-top: 30px;
}

#footer #footerIcons img {
  width: 16%;
}

#footerButton {
  display: block;
  margin: 0px auto;
  margin-top: 25px;
  width: 100%;
  height: 140px;
	background: linear-gradient(180deg, rgba(159,159,159,.15) 10%, rgba(255,255,255,.3) 90%);
  border: none;
}

#footerButton button {
  position: relative;
  top: 20%;
  border: none;
  background: none;
  font-size: 34px;
  color: var(--brand-gray-color);
}

#footerButton p {
  font-size: 14px;
}

/*-----------------------
SHOP - Product Display CSS
------------------------*/

#productDisplay {
  padding-top: 2.5em;
  padding-bottom: 4em;
}

#productDisplay img {
  width: 100%;
  display: block;
  margin: 0px auto;
}

#productDisplay h3 {
  color: var(--brand-blue-color);
  text-align: center;
  font-family:var(--brand-montserrat-fontFamily));
  font-weight: 800;
  font-size: 30px;
  font-style: normal;
}

#productDisplay button.primaryButton, #labTestedContainer button.primaryButton  {
  margin: 0px auto;
  margin-top: 25px;
  display: block;
  width: 80%;
}

#productDisplay button.secondaryButton, #labTestedContainer button.secondaryButton  {
  margin: 0px auto;
  margin-top: 15px;
  display: block;
  width: 80%;
}

#productDisplay #roll-on {
  padding-top: 3em;
}

/*-----------------------
SHOP - Lab Tested CSS
------------------------*/

#labTestedContainer {
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: var(--main-bgGray-color);
}

#labTestedContainer h2 {
  text-align: center;
  font-family:var(--brand-montserrat-fontFamily));
  font-weight: 600;
  font-size: 32px;
  font-style: normal;
  color: var(--brand-gray-color);
}

#labTestedContainer p {
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
  font-family: var(--brand-montserrat-fontFamily);
  font-weight: 300;
  font-style: normal;
}

#labTestedContainer p b {
  font-weight: 600;
}

#labTestedContainer img {
  width: 70%;
  margin: 0px auto;
  display: block;
  padding: 30px 0px;
}

/*-----------------------
PRODUCT PAGE - Products CSS
------------------------*/

#productImages {
  padding-top: 20px;
  padding-bottom: 40px;
}

#productImages img {width: 100%;}

#productImages #imageThumbnails {
  display: flex;
  width: 100%;
  padding-top: 20px;
}

#productImages #imageThumbnails img {
  width: 25%;
  transition: .3s;
  height: 100%;
}

#productImages #imageThumbnails img:hover {
  opacity: .8;
  cursor: pointer;
}

#productName {
  font-size: 30px;
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--brand-gray-color);
}

#price {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
}

#productBenefits {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5em;
}

#productBenefits img {
  width: 25%;
  height: 100%;
}

#productDetail .input-group {margin-bottom: 30px;}

#productDetail button.primaryButton {
  width: 80%;
  display: block;
  margin: 0px auto;
  margin-bottom: 2.5em;
}

#productDetail #plus.btn-number {
  background-color: var(--brand-blue-color);
  color: #fff;
  transition: .3s;
  font-style: normal;
  font-weight: 800;
  font-family: var(--brand-montserrat-fontFamily);
  border-radius: 0px 3px 3px 0px;
}

#productDetail #minus.btn-number {
  background-color: var(--brand-blue-color);
  color: #fff;
  transition: .3s;
  font-style: normal;
  font-weight: 800;
  font-family: var(--brand-montserrat-fontFamily);
  border-radius: 3px 0px 0px 3px;
}

#productDetail .btn-number:hover {
  opacity: .8;
}

/*-----------------------
PRODUCT PAGE - Accordion CSS
------------------------*/

#accordion{
  padding-bottom: 3em;
}

#accordion a.card-link {
  color: var(--brand-blue-color);
  font-style: normal;
  font-weight: 600;
  font-family: var(--brand-montserrat-fontFamily);
}

#accordion a.card-link[aria-expanded="true"]{
  color: #000;;
}

#accordion p {
  font-style: normal;
  font-weight: 300;
  font-family: var(--brand-montserrat-fontFamily);
}

#accordion li {
  font-style: normal;
  font-weight: 300;
  font-family: var(--brand-montserrat-fontFamily);
}

#accordion h4 {
  font-style: normal;
  font-weight: 600;
  font-family: var(--brand-montserrat-fontFamily);
}

#accordion ul li {
  font-style: normal;
  font-weight: 300;
  font-family: var(--brand-montserrat-fontFamily);
}

#accordion b {
  font-style: normal;
  font-weight: 600;
  font-family: var(--brand-montserrat-fontFamily);
}

#accordion .card-header {
  background-color: var(--main-bgGray-color);
}

/*-----------------------
PRODUCT PAGE - Recommended CSS
------------------------*/

#recommendedBox {
  margin-top: 4em;
}

#recommendedBox h3 {
  font-style: normal;
  font-weight: 600;
  font-family: var(--brand-montserrat-fontFamily);
  color: var(--brand-gray-color);
  text-align: center;
  padding-bottom: 2em;
}

#recommendedBox img {
  width: 100%;
  display: block;
  margin: 0px auto;
  margin-bottom: 1em;
  transition: .3s;
}

#recommendedBox img:hover {opacity: .8;}

#recommended button.primaryButton {
  width: 80%;
  display: block;
  margin: 0px auto;
  margin-bottom: 4em;
}

h3#recommendedProduct {
  padding-bottom: .5em;
  color: var(--brand-blue-color);
}

/*-----------------------
SHOP - Seals CSS
------------------------*/

#sealsShop img {
  margin: 0px auto;
  display: block;
  width: 90%;
  filter: drop-shadow(3px 3px 4px rgba(200,200,200,.7));
  transition: .3s;
}

#sealsShop img:hover {
  transform: scale(1.1);
}

#shopSealContainer {
  margin-bottom: 6em;
  margin-top: 6em;
}

#shopSealContainer #sealsShop{
  margin-bottom: 2em;
}

#shopSealContainer button {
  width: 80%;
  margin: 0px auto;
  display: block;
}

/*-----------------------
CONTACT US - Forms CSS
------------------------*/

#contactUs {
  padding-top: 1em;
  display: relative;
}

#contactUs h1 {
  padding-bottom: 25px;
}

#contactUs img {
  width: 50%;
  margin: 0px auto;
  display: block;
  padding-bottom: 25px;
}

#contactUs button {
  margin: 0px auto;
  display: block;
  width: 80%;
  margin-bottom: 2em;
}

#contactUs button.primaryButton {
  padding: 16px 25px;
}

#contactUs #retailForm {
  background-color: var(--main-bgGray-color);
  padding-top: 3em;
  padding-bottom: 3em;
}

#contactUs #contactInfo {
  padding-top: 7em;
  padding-bottom: 6em;
}

#contactUs #infoContainer {
  display: block;
  margin: 0px auto;
}

#contactUs #contactInfo .infoBox {
  width: 90%;
  margin: 0px auto;
  display: flex;
  margin-bottom: 25px;
  box-shadow: 0px 5px 7px rgba(200,200,200,.5);
}

#contactUs #contactInfo .infoIcon {
  background-color: var(--brand-gray-color);
  width: 25%;
  position: relative;
}

#contactUs #contactInfo .infoIcon img {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-bottom: 0px;
}

#contactUs #contactInfo .infoCopy {
  width: 75%;
  position: relative;
  padding: 15px 10px;
}

#contactUs #contactInfo .infoCopy h4 {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 600;
  color: var(--brand-gray-color);
  font-size: 20px;
}

#contactUs #contactInfo .infoCopy p {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 300;
}

#contactContainer {
  position: relative;
}

#contactUs #resellerSupportForm,#contactUs #customerSupportForm {
  background: var(--main-bgGray-color);
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

#contactUs #resellerSupportForm,#contactUs #customerSupportForm {
  text-align: center;
}

#contactUs #resellerSupportForm h2,#contactUs #customerSupportForm h2 {
color: var(--brand-gray-color);
padding-bottom: 10px;
font-family: var(--brand-montserrat-fontFamily);
font-style: normal;
font-weight: 600;
}

#contactUs #resellerSupportForm p,#contactUs #customerSupportForm p {
font-family: var(--brand-montserrat-fontFamily);
font-style: normal;
font-weight: 300;
}

#contactUs #customerSupportForm .backToOptions h5, #contactUs #resellerSupportForm .backToOptions h5 {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 600;
  }

#contactUs #customerSupportForm, #contactUs #resellerSupportForm {
  position: absolute;
  top: 0px;
  left: -100%;
}

#contactUs #customerSupportForm .backToOptions, #contactUs #resellerSupportForm .backToOptions {
  color: var(--brand-blue-color);
  text-decoration: underline;
}

#contactUs #customerSupportForm .backToOptions h5:hover, #contactUs #resellerSupportForm .backToOptions h5:hover {cursor: pointer;}

#contactUs #resellerSupportForm {
  z-index: 3;
}

#contactUs #customerSupportForm {
  z-index: 2;
}

#contactInfo {
  position: relative;
}

#aboutMembersSubscriberForm {
  background-color: #fff;
  padding-top: 5em;
  padding-bottom: 6em;
}

/*-----------------------
ABOUT US - ATF CSS
------------------------*/

#aboutATF .col-md-12 {padding: 0px;}

#about .col-md-12 img {
  width: 100%;
}

#aboutCTA {
  padding-top: 2em;
  padding-bottom: 6em;
}

#aboutCTA a button.primaryButton {
  margin: 0px auto;
  display: block;
  margin-top: 40px;
}

/*-----------------------
ABOUT US - Mission CSS
------------------------*/

#mission {
  text-align: center;
  padding-bottom: 4em;
}

#mission h2, #control h2 {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 600;
  color: var(--brand-gray-color);
  padding-bottom: 15px;
  text-align: center;
}

#mission p {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 3px;
}

#mission p span {
  color: var(--brand-blue-color);
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 600;
}

/*-----------------------
ABOUT US - Control CSS
------------------------*/

#control {
  padding-bottom: 4em;
  background-color: var(--main-bgGray-color);
}

#control img {
  width: 100%;
}

#control p {
  text-align: center;
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 300;
  padding-left: 10px;
  padding-right: 10px;
}

#aboutBenefits {
  background: var(--main-bgGray-color);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 6em;
}

#aboutBenefits .col-md-6 {
  padding-left: 0px;
  padding-right: 0px;
}

#aboutBenefits .col-md-6 p {
  padding-left: 20px;
  padding-right: 20px;
}

#aboutBenefits .brandValueBox {
  background-color: #fff;
  box-shadow: 0px 5px 8px rgba(200,200,200,.7);
  padding-bottom: 2em;
}

#aboutBenefits #alternative {
  margin-top: 3em;
  padding-bottom: 2em;
}

#aboutBenefits button.primaryButton {
  margin: 0px auto;
  display: block;
  margin-top: 1.5em;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;

}

/*-----------------------
ABOUT US - Benefits CSS
------------------------*/

.brandValueBox img {
  width: 100%;
}

.brandValueBox h2 {
  padding-top: 30px;
  padding-bottom: 25px;
  color: var(--brand-gray-color);
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 600;
  text-align: center;
}

.brandValueBox p {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 300;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}


/*-----------------------
ABOUT US - Subscrober Form CSS
------------------------*/

#aboutMembersSubscriberForm p {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 300;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#aboutMembersSubscriberForm .primaryButton {
  width: 80%;
  display: block;
  margin: 0px auto;
}

#aboutMembersSubscriberForm .form-control {
  width: 80%;
  display: block;
  margin: 0px auto;
}

/*-----------------------
SHIPPING POLICY - CSS
------------------------*/

#shippingPolicy {
  padding-bottom: 5em;
  padding-left: 30px;
  padding-right: 30px;
}

#shippingPolicy h1 {
  padding-bottom: 1em;
}

#shippingPolicy h2 {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 600;
  color: var(--brand-gray-color);
  font-size: 24px;

}

#shippingPolicy h3 {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 600;
  color: var(--brand-gray-color);
  font-size: 20px;

}

#shippingPolicy p {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 300;
}

/*-----------------------
REFUND POLICY - CSS
------------------------*/

#refundPolicy {
  padding-bottom: 5em;
  padding-left: 30px;
  padding-right: 30px;
}

#refundPolicy h1 {padding-bottom: 1em;}

#refundPolicy p {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 300;
}

/*-----------------------
TERMS OF SERVICE - CSS
------------------------*/

#tos {
  padding-bottom: 5em;
  padding-left: 30px;
  padding-right: 30px;
}

#tos h1 {padding-bottom: 1em;}

#tos h2 {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: var(--brand-gray-color);
}

#tos p {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 300;
}

/*-----------------------
PRIVACY POLICY - CSS
------------------------*/

#privacyPolicy {
  padding-bottom: 5em;
  padding-left: 30px;
  padding-right: 30px;
}

#privacyPolicy h1 {padding-bottom: 1em;}

#privacyPolicy h2 {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: var(--brand-gray-color);
}

#privacyPolicy p {
  font-family: var(--brand-montserrat-fontFamily);
  font-style: normal;
  font-weight: 300;
}

@media screen and (min-width: 230px) {
  #demo .carousel-caption {
    bottom: -480px;
  }
}

@media screen and (min-width: 320px) {
  #demo .carousel-caption {
    bottom: -440px;
  }
}

@media screen and (min-width: 350px) {
  #demo .carousel-caption {
    bottom: -360px;
  }

  nav.navbar a.navbar-brand img {width: 200px;}

  #ATF h1, #benefits h1, #productsHome h1, #membersSubscriberForm h1, #igFeed h1, #productDisplay h1, #contactUs h1, #aboutMembersSubscriberForm h1, #aboutCTA h1, #shippingPolicy h1, #refundPolicy h1, #tos h1, #privacyPolicy h1 {
    font-size: 24px;
  }

  #footer ul#socialMediaList {
    width: 200px;
  }

  #footer ul#socialMediaList img {
    width: 90%;
  }

  #aboutCTA button.primaryButton {
    width: 90px;
    text-align: center;
  }
}

@media screen and (min-width: 380px) {
  #productsHomeCarousel .carousel-inner {
    height: 650px;
  }
}

@media screen and (min-width: 407px) {
  #demo .carousel-caption {
    bottom: -370px;
  }
}

@media screen and (min-width: 445px) {
  #demo .carousel-caption {
    bottom: -370px;
  }

  #demo .carousel-caption h1, #demo .carousel-caption h3 {
    font-size: 30px;
  }

  #ATF h1, #benefits h1, #productsHome h1, #membersSubscriberForm h1, #igFeed h1, #productDisplay h1, #contactUs h1, #aboutMembersSubscriberForm h1, #aboutCTA h1, #shippingPolicy h1, #refundPolicy h1, #tos h1, #privacyPolicy h1 {
    font-size: 30px;
  }

  #buttons {
    width: 90%;
    display: block;
    margin: 0px auto;
  }

  #demo button.primaryButton, #demo button.secondaryButton {
    width: 100%;
    padding: 16px 24px;
  }

  button.primaryButton, button.secondaryButton {
    width: 48%;
    padding: 16px 24px;
  }

  #benefits .col-md-12 .primaryButton {width: 85%;}

  #productsHomeCarousel .carousel-inner img {width: 70%;}

  .benefitContainer .benefitBox img {width: 50%;}

  #sealsContainer {width: 80%;}

  #membersSubscriberForm form, #homeFormContent {
    width: 90%;
    display: block;
    margin: 0px auto;
  }

  #contactUs #infoContainer {
    width: 400px;
    display: block;
    margin: 0px auto;
  }
}

@media screen and (min-width: 500px) {
  #demo {height: 720px;}

  #demo .carousel-inner {height: 720px;}

  #demo .carousel-caption {bottom: -370px;}
}


@media screen and (min-width: 576px) {
  #demo button.primaryButton, #demo button.secondaryButton {
    width: 100%;
    margin: 0px 10px;
  }

  button.primaryButton, button.secondaryButton {
    width: 42%;
    margin: 0px 10px;
  }

  .benefitContainer .benefitBox img {width: 90%;}

  #painReliefCarousel img {width: 60%;}

  #painReliefCarousel .carousel-caption {bottom: -150px;}

  nav ul.navbar-nav li.nav-item a.nav-link {
    font-size: 14px;
  }

  #contactUs #retailForm {background: none;}

  #mission {
    padding-left: 10px;
    padding-right: 10px;
  }

  #control p {
    padding-left: 20px;
    padding-right: 20px;
  }

  #benefitButton button.primaryButton{
    display: block;
    margin: 0px auto;
    margin-top: 40px;
    width: 70%;
  }

  #aboutBenefits .col-md-6 p {
    padding-left: 40px;
    padding-right: 40px;
  }

  #productBenefits {margin-bottom: 2em;}

  #productBenefits img {width: 16.5%;}
}

@media screen and (min-width: 600px) {
  #demo {height: 770px;}

  #demo .carousel-inner {height: 770px;}

  #demo .carousel-caption {bottom: -370px;}
}

@media screen and (min-width: 660px) {
  #demo {height: 800px;}

  #demo .carousel-inner {height: 800px;}
}

@media screen and (min-width: 768px) {
  #demo {
    height: 100%;
    background: var(--main-bgGray-color);
  }

  #demo .carousel-inner {
    height: 100%;
  }

  #demo .carousel-caption {
    bottom: 80px;
    background-color: rgba(33,142,206,.8);
    width: 600px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #demo .carousel-caption h1,#demo .carousel-caption h3 {
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
  }

    #demo .carousel-caption button.primaryButton {
      color: var(--brand-blue-color);
      background: #fff;
    }

    #demo button.primaryButton, #demo button.secondaryButton {
      width: 240px;
      padding: 16px 24px;
    }

  #ATF {background-color: var(--main-bgGray-color);}

  #atfContainer {
    background-color: rgba(33,142,206,.8);
    width: 500px;
    display: block;
    margin: 0px auto;
    border-radius: 3px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 20px;
  }

  #buttons {padding-bottom: 0px;}

  #atfContainer h1 {
    color: #fff;
  }

  #atfContainer button.primaryButton {
    color: var(--brand-blue-color);
    background: #fff;
  }

  .benefitContainer .benefitBox img {width: 60%;}

  .benefitContainer button.secondaryButton {display: none}

  #benefits .col-md-12 .primaryButton, #igFeed button.primaryButton {width: 385px;}

  #benefits .closeOverlay {display: none;}

  .benefitContainer .benefitBox img:hover {
    cursor: pointer;
  }

  #productsHomeCarousel .carousel-inner img {width: 50%;}

  .navbar-expand-md .navbar-collapse {
    position: absolute;
    right: 0px;
  }

  #productsHome {padding-bottom: 8em;}

  #productsHome .carouselItem {
    display: flex;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  #productsHome .carouselCaptionContent {
    width: 90%;
    position: absolute;
    left: 0%;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
  }

  #productsHome .carousel-item .carouselImage {
    width: 50%;
  }

  #productsHome .carousel-item .carouselImage img {
    width: 100%;
  }

  #productsHome .carousel-item .carousel-caption {
    width: 50%;
    position: relative;
    left: 0%;
    right: 0%;
  }

  #productsHomeCarousel .carousel-inner {height: 350px;}

  #productsHomeCarousel .carousel-inner .carousel-caption {
    bottom: 0px;
  }

  #sealsHome #sealsContainer {
    width: 450px;
    display: flex;
    margin: 0px auto;
    margin-top: 30px;
  }

  #sealsHome .seals {
    margin-top: 20px;
    width: 50%;
  }

  #sealsHome .seals img {
    width: 80%;
    margin-bottom: 30px;
  }

  #homeFormContent {width: 550px;}

  #membersSubscriberForm form {width: 550px;}

  #membersSubscriberForm p {padding: 15px 30px;}

  #productDisplay h1 {padding-bottom: 1.5em;}

  #productDisplay #roll-on {padding-top: 0px;}

  #labTestedContainer h2 {padding-bottom: 1.5em;}

  #labTestedContainer img {width: 90%;}

  #shopSealContainer #sealsShop {
    width: 100%;
    display: flex;
    margin: 0px auto;
  }

  #sealsShop img {
    width: 100%;
    margin-bottom: 30px;
  }

  #shopSealContainer button.primaryButton {width: 385px;}


  #footer {text-align: left;}

  #footer ul#socialMediaList {
    margin: 0px;
    width: 150px;
  }

  #footer ul#socialMediaList img {
    width: 80%;
  }

  #copyright img {width: 300px;}

  #copyright p {
    font-size: 16px;
    margin-bottom: 2px;
  }

  #footer #footerIcons {text-align: right;}

  #footerButton {text-align: center; height: 100px;}

  #footerButton button {top: 10%;}

  #productDisplay img {width: 80%;}

  #contactUs #retailForm {
    padding-top: 0px;
    background: none;
  }

  #contactUs h1 {padding-bottom: 1.5em;}
  #contactUs button.primaryButton {padding: 16px 22px;}

  #contactUs #contactInfo {padding-top: 3em;}

  #contactUs #customerSupportForm form, #contactUs #resellerSupportForm form, #contactUs #customerSupportForm P, #contactUs #resellerSupportForm P {
    width: 600px;
    display: block;
    margin: 0px auto;
  }

  #shippingPolicy, #privacyPolicy, #tos, #refundPolicy {
    padding-left: 10%;
    padding-right: 10%;
  }

  #mission {
    width: 600px;
    display: block;
    margin: 0px auto;
  }

  #mission p {text-align: left;}

  #control p {
    width: 600px;
    display: block;
    margin: 0px auto;
  }

  #aboutBenefits #alternative {
    margin-top: 0px;
  }

  #aboutBenefits .col-md-6 p {
    text-align: left;
  }

  #aboutBenefits .brandValueBox h2 {
    /* width: 90%; */
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    margin: 0px auto;
  }

  #aboutBenefits .brandValueBox {
    width: 350px;
    height: 1010px;
    display: block;
    margin: 0px auto;
  }

  #benefitButton button.primaryButton{
    width: 360px;
  }

  #aboutMembersSubscriberForm p {
    width: 550px;
    display: block;
    margin: 0px auto;
  }

  #aboutMembersSubscriberForm form {
    width: 690px;
    display: block;
    margin: 0px auto;
  }

  #aboutCTA {
    background-color: rgba(33,142,206,.8);
    width: 500px;
    display: block;
    margin: 0px auto;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 20px;
  }

  #aboutCTA h1 {
    color: #fff;
  }

  #aboutCTA button.primaryButton {
    color: var(--brand-blue-color);
    background-color: #fff;
  }

  #mission h2 {margin-top: 1.5em;}

  #recommendedBox {
    margin-top: 6em;
  }

  #recommendedBox h3 {
    width: 600px;
    display: block;
    margin: 0px auto;
  }

  #recommendedBox img {
    width: 50%;
  }

  #recommended button.primaryButton {
    width: 360px;
  }

  .breadcrumb {
    background: none;
    padding-left: 0px;
  }

  #productDetail .input-group {
    width: 200px;
  }

  #productDetail button.primaryButton {margin-left: 0px;}

  #painReliefCarousel img {width: 36%;}

  #painReliefCarousel .carousel-caption {bottom: -100px;}
}

@media screen and (min-width: 830px) {
  #productsHomeCarousel .carousel-inner {height: 450px;}

  .benefitContainer .benefitBox .overlay .closeOverlay{
    bottom: 20px;
  }

  #aboutBenefits .brandValueBox {
    width: 330px;
    height: 1050px;
  }
}

@media screen and (min-width: 900px) {
  #aboutBenefits .brandValueBox {
    width: 330px;
    height: 1040px;
  }
}

@media screen and (min-width: 992px) {
  #demo .carousel-caption h1, #demo .carousel-caption h3 {
    font-size: 40px;
  }

  nav.navbar a.navbar-brand img {width: 300px;}

  #nav {height: 110px;}

  .navbar {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .navbar-expand-md .navbar-collapse {
    position: absolute;
    right: 0px;
  }

  nav ul.navbar-nav li.nav-item a.nav-link {font-size: 18px;}

  #atfContainer {
    bottom: 10%;
    width: 600px;
  }

  #ATF h1, #benefits h1, #productsHome h1, #membersSubscriberForm h1, #igFeed h1, #productDisplay h1, #contactUs h1, #aboutMembersSubscriberForm h1, #aboutCTA h1, #shippingPolicy h1, #refundPolicy h1, #tos h1, #privacyPolicy h1 {
    font-size: 40px;
    padding-left: 10%;
    padding-right: 10%;
  }

  #membersSubscriberForm h1 {
    padding-left: 0;
    padding-right: 0;
  }

  #ATF h1 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .benefitContainer .benefitBox img {width: 50%;}

  #painReliefCarousel img {width: 32%;}

  #painReliefCarousel .carousel-caption {bottom: -100px;}

  #benefits {padding-bottom: 8em;}

  #productsHome {padding-top: 0px;}

  #footer #footerIcons {text-align: center;}

  #footer #footerIcons img {width: 10%;}

  #labTestedContainer img {
    width: 70%;
    padding-top: 0px;
    padding-right: 0px;
  }

  #sealsShop img {
    width: 80%;
    margin-bottom: 30px;
  }

  #aboutBenefits .brandValueBox {
    width: 90%;
    height: 910px;
  }

  #contactUs #infoContainer {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
  }

  #contactUs #contactInfo .infoBox {
    width: 410px;
    margin: 20px 20px;
  }
}

@media screen and (min-width: 1000px) {
  #aboutCTA {
    width: 600px;
  }

  #aboutCTA h1 {
    padding-left: 5%;
    padding-right: 5%;
  }

  #demo .carousel-caption {
    bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  nav li.nav-item {
    padding-left: 25px;
  }

  #demo .carousel-caption {
    bottom: 110px;
  }

  #aboutBenefits .brandValueBox {
    height: 850px;
  }

  #aboutCTA {
    width: 700px;
  }

  #painReliefCarousel img {width: 32%;}

  #painReliefCarousel .carousel-caption {bottom: -110px;}
}

@media screen and (min-width: 1220px) {
  #atfContainer {
    bottom: 20%;
  }

  #productsHomeCarousel .carousel-inner {height: 525px;}
}

@media screen and (min-width: 1400px) {
  #demo .carousel-caption {
    bottom: 340px;
  }

  #atfContainer {
    bottom: 30%;
  }

  #aboutCTA {
    width: 800px;
  }
}
